
.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    
    
}

.headerOptions {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: black;
    color: white;
    font-size: 10px;
    gap: 36px;
    padding: 0px 16px;
    border-radius: 2px;
    cursor: pointer;
    position: fixed;
    top: 5; 
    right: 0;
    margin-right: 20px;
}

.headerOptions p:hover {
    background-color: white;
    color: black;
    border-radius: 3px;
    padding: 5px;
}

.icon {
    display: flex;
    align-items: center;
}


.shopIcon:hover {
    background-color: white;
    border-radius: 3px;
    padding: 5px;
    color: black !important;
}