
.xSmall {
    font-size: 8px;
    font-weight: 400;
}
.small {
    font-size: 10px;
    font-weight: 400;
}

.regular{
    font-size: 12px;
    font-weight: 400;
}

.medium{
    font-size: 14px;
    font-weight: 600;
}

.mediumB {
    font-size: 14px;
    font-weight: 800;
}

