.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr) ;
  padding: 50px 0px;
}

.product {
  flex: 1;
  width: 100%;
  height: 50vh;
  border: 1px solid black;
  padding: 8px 8px;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
  display: flex;
  flex-direction: column;
}

.imageContainer {
  margin: auto;
}

.info {
  display: flex;
  justify-content: space-between;
  margin-top: auto;
}

.info p {
  font-size: 10px;
  font-weight: 500;
  text-transform: uppercase;
}



.container > :nth-child(5n) {
  grid-column: span 2;
}

.container > :nth-child(6n) {
  grid-column: span 2;
}


.product:nth-child(5),  .product:nth-child(6) {
  border-top: none;
  

}

.product:nth-child(2),  .product:nth-child(2), .product:nth-child(3), .product:nth-child(4), .product:nth-child(6) {
  border-left: 0;
}
















@media  (max-width: 1024px) {
    .container {
      grid-template-columns: repeat(2, 1fr) ;
      
    }
}


